node_modules
dist
.output
.vinxi
.tanstack
.env
.env.local
*.log
.DS_Store
mongo-data
.claude
.playwright-mcp
**/routeTree.gen.ts
apps/frontend/app.config.timestamp_*.js
apps/frontend/app/
Proyecto_Pokemon_Battle_Rooms_UTP_FISC_sin_cuadro_proyecto_indiv.pdf
